<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <div class="table-title">
        <h1>C O N T A C T</h1>
        <h1>U S</h1>
    </div>
    <div class="contact-box">
        <input placeholder="Your e-mail"> <br><br>
        <input placeholder="First name"> <br><br>
        <input placeholder="Last name"> <br><br>
        <input class="message" placeholder="Your message">
        <button class="hero-button">Send</button>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h3 class="table-title">Contact us via e-mail <span><br></span>info@deliverit.com</h3>
</section>

</body>
</html>