<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <h1 class="table-title">C U S T O M E R S</h1>
    <form method="post" th:action="@{/customers/search}" th:object="${searchTermDto}">
        <div class="search-container">
            <!--    <span>Search for customer:</span>-->
            <input type="text"
                   placeholder="Search for customer: Ivan Ivanov"
                   th:field="*{searchTerm}">
            <button type="submit">Search</button>
        </div>
        <div class="sort-menu">
            <select style="text-align: center" th:field="*{sort}">
                <option value="id asc">Order by</option>
                <option value="firstName asc">First name A-Z</option>
                <option value="firstName desc">First name Z-A</option>
                <option value="firstName asc">Last name A-Z</option>
                <option value="lastName desc">Last name Z-A</option>
                <option value="email asc">Email A-Z</option>
                <option value="email desc">Email Z-A</option>
            </select>
        </div>

    </form>

    <div class="table">
        <div class="table-header">
            <div class="cell-title"> ID</div>
            <div class="cell-title"> First name</div>
            <div class="cell-title"> Last name</div>
            <div class="cell-title"> E-mail</div>
            <!--            <div class="cell"> Address</div>-->
        </div>
        <a href="#" th:href="@{/customers/{id}(id=${customer.getId()})}" class="rowGroup"
           th:each="customer : ${customers}">
            <div class="cell" th:text="${customer.getId()}"></div>
            <div class="cell" th:text="${customer.getFirstName()}">edi si koi grad</div>
            <div class="cell" th:text="${customer.getLastName()}">edi si koi grad</div>
            <div class="cell" th:text="${customer.getEmail()}">edi si koi grad</div>
        </a>
    </div>

</section>

</body>
</html>
