<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<form th:fragment="customer-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${register}" method="post">

    <div class="create-box">
<!--        <div type="number" th:field="*{userDto.addressId}" th:value="2"></div>-->
        <!--<input type="text" th:field="*{userDto.addressId}" th:value="1">-->
            <!--<select style="display: none" th:field="*{userDto.addressId}">
                    <option selected value="99999"></option>
            </select>-->
            <br>
            <h1 class="table-title">R E G I S T E R</h1>

            <br>
        <label> First name </label>
        <input type="text" th:field="*{firstName}"/>
        <label class="orange" th:errors="*{firstName}">Wrong address id</label>
        <br>
        <br>
        <label> Last name </label>
        <input type="text" th:field="*{lastName}"/>
        <label class="orange" th:errors="*{lastName}">Wrong address id</label>
        <br>
        <br>
        <label> E-mail </label>
        <input type="text" th:field="*{email}"/>
        <label class="orange" th:errors="*{email}">Wrong address id</label>
        <br>
        <br>
        <label> Country </label>
        <br>
        <select>
            <option class="orange-background" th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
        </select>
        <label class="orange" ></label>
        <br>
        <br>
        <label> City </label>
        <br>
        <select th:field="*{addressDto.cityId}">
            <option class="orange-background" th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
        </select>
        <label class="orange" ></label>
        <br>
        <br>
        <label> Address street </label>
        <input type="text" th:field="*{addressDto.street}"/>
        <label class="orange" th:errors="*{addressDto.street}">Wrong address id</label>
        <br>
        <br>
        <label> Password </label>
        <input type="password" th:field="*{password}"/>
        <label class="orange" th:errors="*{password}">Wrong address id</label>
        <br>
        <br>
        <label> Confirm password</label>
        <input type="password" th:field="*{passwordConfirm}"/>
        <label class="orange" th:errors="*{passwordConfirm}"></label>
        <br>
        <br>
        <input class="hero-button" type="submit" value="Save"/>
    </div>
</form>

</body>
</html>
