<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <div class="table-title">
        <h1>E M P L O Y E E</h1>
        <h2>I N F O </h2>
    </div>
    <div class="table">
        <div class="table-header">
            <div class="cell-title"> ID</div>
            <div class="cell-title"> First name</div>
            <div class="cell-title"> Last name</div>
            <div class="cell-title"> E-mail</div>
            <div class="cell-title"> Address</div>
        </div>
        <div class="rowGroup">
            <div class="cell" th:text="${employee.getId()}">edi si koi grad</div>
            <div class="cell" th:text="${employee.getFirstName()}">edi si koi grad</div>
            <div class="cell" th:text="${employee.getLastName()}">edi si koi grad</div>
            <div class="cell" th:text="${employee.getEmail()}">edi si koi grad</div>
            <div class="cell">
                <div th:text="${employee.getAddress().getStreet()} + ', '
                + ${employee.getAddress().getCity().getName()} +  ', '
                + ${employee.getAddress().getCity().getCountry().getName()}"></div>
            </div>
        </div>
    </div>
</section>

</body>
</html>