<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<!----------------- WELCOME ----------------------->
<section class="header">

    <nav th:fragment="nav-bar">
        <a href="/"><img src="../static/images/DeliverIt-Logo.png" th:src="@{/images/DeliverIt-Logo.png}" alt=""></a>
        <div class="logged_user" th:if="${isAuthenticated}">
            <h3>Hello, </h3>
            <a th:if="${session.userRole.name().equals('USER')}" href="#"
               th:href="@{/customers/{userId}(userId=${session.userId})}"
               th:text="${session.firstName} + ' ' + ${session.lastName}"></a>
            <a th:if="${session.userRole.name().equals('ADMIN')}" href="#"
               th:href="@{/employees/{userId}(userId=${session.userId})}"
               th:text="${session.firstName} + ' ' + ${session.lastName}"></a>
            <a href="#" th:href="@{/auth/logout}"><h4>Logout</h4></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/" th:text="HOME">HOME</a></li>
                <li><a href="#" th:href="@{/contact}">CONTACT</a></li>
                <li><a href="#" th:href="@{/warehouses}">WAREHOUSES</a></li>
                <div style="display: inline" th:if="${isAuthenticated}">
                    <li th:if="${session.userRole.name().equals('USER')}">
                        <a href="#" th:href="@{/parcels/personal}"> MY PARCELS </a>
                    </li>
                    <li th:if="${session.userRole.name().equals('ADMIN')}"><a href="#"
                                                                              th:href="@{/shipments}">SHIPMENTS</a></li>
                    <li th:if="${session.userRole.name().equals('ADMIN')}"><a href="#"
                                                                              th:href="@{/employees}">EMPLOYEES</a></li>
                    <li th:if="${session.userRole.name().equals('ADMIN')}"><a href="#" th:href="@{/parcels}">PARCELS</a>
                    </li>
                    <li th:if="${session.userRole.name().equals('ADMIN')}"><a href="#"
                                                                              th:href="@{/customers}">CUSTOMERS</a></li>
                    <br>
                    <li th:if="${session.userRole.name().equals('USER')}"><a href="#" th:href="@{/parcels/new}">CREATE
                        PARCEL</a></li>
                    <li th:if="${session.userRole.name().equals('ADMIN')}"><a href="#" th:href="@{/shipments/new}">CREATE
                        SHIPMENT</a></li>
                    <li th:if="${session.userRole.name().equals('ADMIN')}"><a href="#" th:href="@{/warehouses/new}">CREATE
                        WAREHOUSE</a></li>
                </div>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>WELCOME TO DELIVERIT</h1>
        <p>We are a shipment company of the future<br>with us you not only get your parcels delivered, but you also help
            the planet</p>
        <a href="#" th:href="@{/auth/login}" th:unless="${isAuthenticated}" class="hero-button">LOGIN</a>
        <a href="#" th:href="@{/auth/register}" th:unless="${isAuthenticated}" class="hero-button">REGISTER</a>
    </div>
</section>
<!---------------- Offers ---------------->
<section class="offers">
    <h1>What we offer you</h1>
    <p>Things you earn and contribute with us</p>

    <div class="row">
        <div class="offers-col">
            <h3>ECO parcels</h3>
            <p>Styrofoam has been a standard in loose-fill packaging for fragile or otherwise sensitive items, helping
                to prevent movement and cushion against shocks. For businesses looking for the closest thing to this
                packaging classic, biodegradable air peanuts are now available to replace them.</p>
        </div>
        <div class="offers-col">
            <h3>Real-time visibility</h3>
            <p>Get instant visibility on all of your shipments with our powerful, easy-to-use tracking platform for
                shipments. You can schedule email and text alerts for team members and customers prior to the arrival of
                a shipment or when there are delays and problems.</p>
        </div>
        <div class="offers-col">
            <h3>Some other stuff</h3>
            <p>Styrofoam has been a standard in loose-fill packaging for fragile or otherwise sensitive items, helping
                to prevent movement and cushion against shocks. For businesses looking for the closest thing to this
                packaging classic, biodegradable air peanuts are now available to replace them.</p>
        </div>
    </div>
</section>
<!--------- Info ----------->
<section class="info">
    <h1> Info </h1>
    <p>Things you earn and contribute with us</p>
    <div class="row">
        <a href="#" th:href="@{/warehouses}">
            <div class="info-col">
                <img src="../static/images/warehouse.png" th:src="@{/images/warehouse.png}" alt="">
                <div class="layer">
                    <h2> WAREHOUSES</h2>
                </div>
            </div>
        </a>

        <a href="#" th:href="@{/contact}">
            <div class="info-col">
                <img src="../static/images/employee.jpg" th:src="@{/images/employee.jpg}" alt="">
                <div class="layer">
                    <h2> EMPLOYEES </h2>
                </div>
            </div>
        </a>

        <a href="#" th:href="@{/auth/register}">
            <div class="info-col">
                <img src="../static/images/customer.jpg" th:src="@{/images/customer.jpg}" alt="">
                <div class="layer">
                    <h2> BECOME A HAPPY CUSTOMER </h2>
                </div>
            </div>
        </a>
    </div>
    <br>
    <h3>Join our community of</h3>
    <h2 class="orange-text" th:text="${CustomersCount}"></h2>
    <h3>Happy customers</h3>

    <br>
    <br>
    <br>

    <h6>All right reserved: Team 4 productions</h6>
    <br>
<!--    <h6>Team 4 productions</h6>-->

</section>


</body>
</html>