<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <h1 class="table-title">Hi there!</h1>
    <form class="create-box" action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
        <label User E-mail>Username</label>
        <br>
        <input type="text" th:field="*{email}">
        <br>
        <br>

        <label th:text="password">Password</label>
        <br>
        <input type="password" th:field="*{password}">
        <label class="red" th:errors="*{email}"></label>
        <label class="red" th:errors="*{password}"></label>
        <br>
        <br>

        <input type="submit" value="Login">
    </form>

</section>

</body>
</html>