<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>

    <div class="error">
        <img class="error-image" src="../static/images/error-page.png" th:src="@{/images/error-page.png}" alt="">
        <div class="error-text">
            <h2>Page Not Found</h2>
            <h3 class="error" th:text="${error}">Error placeholder</h3>
        </div>
    </div>
</section>

</body>
</html>