<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>

    <h1 class="table-title">P A R C E L S</h1>

    <form method="post" th:action="@{/parcels/search}" th:object="${parcelSearchDto}">
        <div class="search-container">
            <input type="text"
                   placeholder="Search for customer: ex. ivan"
                   th:field="*{customerKeyWord}">
            <br>

            <input class="search-container-small" type="number" placeholder="< weight" th:field="*{minWeight}">

            <input class="search-container-small" type="number" placeholder="> weight" th:field="*{maxWeight}">


            <select class="drop-down" th:field="*{categoryId}">
                <option class="orange-background" selected value="-1" > Category </option>
                <option class="orange-background" th:each="category : ${categories}"
                        th:value="${category.getId()}"
                        th:text="${category.getName()}"> category
                </option>
            </select>

            <select class="drop-down" th:field="*{destination}">
                <option class="orange-background" selected value="-1" > Destination </option>
                <option class="orange-background" th:value="arr" > Arrival </option>
                <option class="orange-background" th:value="dep" > Departure </option>
            </select>

            <select class="drop-down" th:field="*{warehouseId}">
                <option class="orange-background" selected value="-1" > Warehouse </option>
                <option class="orange-background" th:each="warehouse : ${warehouses}"
                        th:value="${warehouse.getId()}"
                        th:text="${warehouse.getAddress().getCity().getName()}"> warehouse
                </option>
            </select>

            <select class="drop-down" th:field="*{shipmentStatusId}">
                <option class="orange-background" selected value="-1" > Status </option>
                <option class="orange-background" th:value="0" > Preparing </option>
                <option class="orange-background" th:value="1" > On the way </option>
                <option class="orange-background" th:value="2" > Completed </option>
            </select>

            <button type="submit">Search</button>

            <div class="sort-menu">
                <select style="text-align: center" th:field="*{sort}">
                    <option value="id asc">Order by</option>
                    <option value="weight asc">Weight asc</option>
                    <option value="weight desc">Weight desc</option>
                    <option value="category asc">Category asc</option>
                    <option value="category desc">Category desc</option>
                    <option value="customer.email asc">Email A-Z</option>
                    <option value="customer.email desc">Email Z-A</option>
                    <option value="shipment.id asc">Shipment id asc</option>
                    <option value="shipment.id desc">Shipment id desc</option>
                    <option value="pickUpFromWarehouse">Pick up</option>
                </select>
            </div>
        </div>
    </form>

    <div class="table">
        <div class="table-header">
            <div class="cell-title"> ID </div>
            <div class="cell-title"> Weight, [kg] </div>
            <div class="cell-title"> Category </div>
            <div class="cell-title"> Customer </div>
            <div class="cell-title"> PickUp </div>
            <div class="cell-title"> Delivery address </div>
            <div class="cell-title"> Shipment ID </div>
        </div>

        <div class="rowGroup" th:each="parcel : ${parcels}">
            <div class="cell" th:text="${parcel.getId()}"> 1</div>
            <div class="cell" th:text="${parcel.getWeight()}"> 10</div>
            <div class="cell" th:text="${parcel.getCategory().getName()}"> Electronics</div>
            <div class="cell" th:text="${parcel.getCustomer().getEmail()}"> Customer email</div>
            <div class="cell" th:text="${parcel.isPickUpFromWarehouse()}"> No</div>
            <div class="cell" th:text="${parcel.getCustomer().getAddress().getStreet() + ', '
             + parcel.getCustomer().getAddress().getCity().getName() + ', '
             + parcel.getCustomer().getAddress().getCity().getCountry().getName()}"> street, City name, Country name
            </div>
            <div class="cell" th:unless="${parcel.shipment == null}">
                <a th:text="${parcel.getShipment().getId()}" th:href="@{/shipments/{id}(id=${parcel.getShipment().getId()})}"> 0 </a>
            </div>
            <div class="cell" th:if="${parcel.shipment == null}">
                <a th:text="${'N/A'}"> 0 </a>
            </div>
            <div>
                <a class="add-button" th:unless="${parcel.hasShipment()}" href="#"
                   th:href="@{/shipments/add-parcel/{parcelId}(parcelId=${parcel.getId()})}"> Add to shipment </a>
                <a class="disabled-button" th:if="${parcel.hasShipment()}" href="#"
                   th:href="@{/shipments/add-parcel/{parcelId}(parcelId=${parcel.getId()})}"> Add to shipment </a>

                <a class="update-button" th:if="${parcel.isPickUpFromWarehouseModifiable()}" href="#"
                   th:href="@{/parcels/{parcelId}/update(parcelId=${parcel.getId()})}"> Update </a>
                <a class="disabled-button" th:unless="${parcel.isPickUpFromWarehouseModifiable()}" href="#"
                   th:href="@{/parcels/{parcelId}/update(parcelId=${parcel.getId()})}"> Update </a>

                <a class="remove-button" th:unless="${parcel.hasShipment()}" href="#"
                   th:href="@{/parcels/{parcelId}/delete(parcelId=${parcel.getId()})}"> Delete </a>
                <a class="disabled-button" th:if="${parcel.hasShipment()}" href="#"
                   th:href="@{/parcels/{parcelId}/delete(parcelId=${parcel.getId()})}"> Delete </a>
            </div>
        </div>

    </div>
</section>

</body>

</html>