<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<form th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${parcel}" method="post">

    <div class="create-box">
        <label> Weight, [kg] </label>
        <input type="text" th:field="*{weight}"/>
        <label class="orange" th:errors="*{weight}"> Weight error placeholder. </label>
        <br>
        <br>

        <label> Category </label>
        <br>
        <select th:field="*{categoryId}">
            <option class="orange-background" th:each="category : ${categories}"
                    th:value="${category.getId()}"
                    th:text="${category.getName()}"> Category
            </option>
        </select>
        <br>
        <br>

        <label> PickUp from Warehouse* </label>
        <select th:field="*{pickUpFromWarehouse}">
            <option class="orange-background" th:value="1" >true</option>
            <option class="orange-background" th:value="0" >false</option>
        </select>
        <label class="orange" th:errors="*{pickUpFromWarehouse}"> pickUpFromWarehouse error placeholder. </label>
        <br>
        <h6> * if you choose "false" the parcel will be delivered to your home address </h6>
        <br>
        <br>
        <input class="hero-button" type="submit" value="Save"/>
    </div>
</form>

</body>
</html>