<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>

    <h1 class="table-title">MY PARCELS</h1>

    <div class="table">
        <div class="table-header">
            <div class="cell-title"> ID </div>
            <div class="cell-title"> Weight, [kg] </div>
            <div class="cell-title"> Category </div>
            <div class="cell-title"> PickUp from WH </div>
            <div class="cell-title"> Assigned Shipment ID </div>
            <div class="cell-title"> Shipment status </div>
            <div class="cell-title"> Shipment arrival date </div>
        </div>

        <div class="rowGroup" th:each="parcel : ${parcels}">
            <div class="cell" th:text="${parcel.getId()}"> 1 </div>
            <div class="cell" th:text="${parcel.getWeight()}"> 10 </div>
            <div class="cell" th:text="${parcel.getCategory().getName()}"> Electronics </div>
            <div class="cell" th:text="${parcel.isPickUpFromWarehouse()}"> No </div>

            <div class="cell" th:unless="${parcel.shipment == null}">
                <a th:text="${parcel.getShipment().getId()}"> 0 </a>
            </div>
            <div class="cell" th:if="${parcel.shipment == null}">
                <a th:text="${'N/A'}"> 0 </a>
            </div>

            <div class="cell" th:unless="${parcel.shipment == null}">
                <a th:text="${parcel.getShipment().getStatus()}"> 0 </a>
            </div>
            <div class="cell" th:if="${parcel.shipment == null}">
                <a th:text="${'N/A'}"> 0 </a>
            </div>

            <div class="cell" th:unless="${parcel.shipment == null}">
                <a th:text="${parcel.getShipment().getArrivalDate()}"> 0 </a>
            </div>
            <div class="cell" th:if="${parcel.shipment == null}">
                <a th:text="${'N/A'}"> 0 </a>
            </div>

            <div>
<!--                <a class="update-button" href="#"
                   th:href="@{/parcels/{parcelId}/update(parcelId=${parcel.getId()})}"> Update </a>-->
                <a class="update-button" th:if="${parcel.isPickUpFromWarehouseModifiable()}" href="#"
                   th:href="@{/parcels/{parcelId}/update(parcelId=${parcel.getId()})}"> Update </a>
                <a class="disabled-button" th:unless="${parcel.isPickUpFromWarehouseModifiable()}" href="#"
                   th:href="@{/parcels/{parcelId}/update(parcelId=${parcel.getId()})}"> Update </a>
            </div>
        </div>

    </div>
</section>

</body>

</html>