<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>DeliverIT</title>
  <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

<section class="header">
  <nav th:replace="index.html :: nav-bar"></nav>

  <h1 class="table-title">CHANGE PARCEL PICK UP</h1>

<!--  <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${parcel}"  method="post">-->
  <form action="#" th:action="@{/parcels/{parcelId}/update-pickup(parcelId=${parcelId})}" th:object="${parcel}"  method="post">

    <div class="create-box">
      <label> ID : </label>
      <label class="orange-text" type="text" th:text="${parcelId}"> 2 </label>
      <br>
      <br>

      <label> Weight : </label>
      <label class="orange-text" type="text" th:field="*{weight}" th:text="${parcel.getWeight()} + ' kg'"> 14.5 </label>
      <br>
      <br>

      <label> Category : </label>
      <label class="orange-text" type="text" th:field="*{categoryId}" th:text="${parcelCategory}"> Electronics </label>
      <br>
      <br>

      <label> PickUp from Warehouse </label>
      <select th:field="*{pickUpFromWarehouse}">
        <option class="orange-background" th:value="1" >true</option>
        <option class="orange-background" th:value="0" >false</option>
      </select>
      <label class="orange" th:errors="*{pickUpFromWarehouse}"> pickUpFromWarehouse error placeholder. </label>
      <br>
      <br>

      <br>
      <input class="hero-button" type="submit" value="Save"/>
    </div>
  </form>

</section>

</body>
</html>