<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>
<body>

<form th:fragment="shipment-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${shipment}" method="post">

    <div class="create-box">
        <label> Departure warehouse </label>
        <select th:field="*{departureWarehouseId}">
            <option class="orange-background" th:each="warehouse : ${warehouses}"
                    th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddress().getCity().getName()}"> warehouse
            </option>
        </select>
        <br>
        <br>

        <label> Arrival warehouse </label>
        <select th:field="*{arrivalWarehouseId}">
            <option class="orange-background" th:each="warehouse : ${warehouses}"
                    th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddress().getCity().getName()}"> warehouse
            </option>
        </select>
        <br>
        <label class="orange" th:errors="*{arrivalWarehouseId}"> Arrival warehouse error placeholder. </label>
        <br>
        <br>

<!--        <label> Departure date </label>-->
<!--        <input type="date" th:field="*{departureDate}"/>-->
<!--        <label class="orange" th:errors="*{departureDate}"> DepartureDate error placeholder. </label>-->
<!--        <br>-->
<!--        <br>-->

<!--        <label> Arrival date </label>-->
<!--        <input type="date" th:field="*{arrivalDate}"/>-->
<!--        <label class="orange" th:errors="*{arrivalDate}"> ArrivalDate error placeholder. </label>-->
<!--        <br>-->
<!--        <br>-->

        <br>
        <input class="hero-button" type="submit" value="Save"/>
    </div>
</form>

</body>
</html>