<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>DeliverIT</title>
  <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

<section class="header">
  <nav th:replace="index.html :: nav-bar"></nav>

  <div class="table-title">
    <h1>S H I P M E N T</h1>
    <h2>SET ARRIVAL DATE</h2>
  </div>


  <form action="#" th:action="@{/shipments/{shipmentId}/update-arrivalDate(shipmentId=${shipmentId})}"
        th:object="${shipmentDto}" method="post">

    <div class="create-box">
      <label> ID : </label>
      <label class="orange-text" type="text" th:text="${shipmentId}"> 2 </label>
      <br>
      <br>

      <label> Departure warehouse: </label>
      <label class="orange-text"
             th:text="${shipment.getDepartureWarehouse().getAddress().getCity().getName()}"> City name </label>
      <br>
      <br>

      <label> Arrival warehouse: </label>
      <label class="orange-text"
             th:text="${shipment.getArrivalWarehouse().getAddress().getCity().getName()}"> City name </label>
      <br>
      <br>

      <label> Departure date: </label>
      <label class="orange-text" th:text="${shipment.getDepartureDate()}"> 11.11.2022 </label>
      <br>
      <br>

      <label> Arrival date </label>
      <input type="date" th:field="*{arrivalDate}"/>
      <label class="orange" th:errors="*{departureDate}"> DepartureDate error placeholder. </label>
      <br>
      <br>

      <br>
      <input class="hero-button" type="submit" value="Save"/>
    </div>
  </form>

</section>

</body>
</html>