<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>

    <h1 class="table-title">S H I P M E N T</h1>

    <div class="table">
        <div class="table-header">
            <div class="cell-title"> ID </div>
            <div class="cell-title"> Departure City </div>
            <div class="cell-title"> Arrival City </div>
            <div class="cell-title"> Status </div>
            <div class="cell-title"> Responsible </div>
            <div class="cell-title"> Departure date </div>
            <div class="cell-title"> Arrival date </div>
        </div>

        <div class="rowGroup">
            <div class="cell" th:text="${shipment.getId()}"> 0 </div>
            <div class="cell" th:text="${shipment.getDepartureWarehouse().getAddress().getCity().getName()}">City name
            </div>
            <div class="cell" th:text="${shipment.getArrivalWarehouse().getAddress().getCity().getName()}">City name
            </div>
            <div class="cell" th:text="${shipment.getStatus()}"> STATUS </div>
            <div class="cell" th:text="${shipment.getEmployee().getEmail()}">Employee email </div>
            <div class="cell" th:text="${shipment.getDepartureDate()}"> date </div>
            <div class="cell" th:text="${shipment.getArrivalDate()}"> date </div>
        </div>
    </div>

    <h1 class="table-title">P A R C E L S</h1>

    <div class="table">
        <div class="table-header">
            <div class="cell-title"> ID </div>
            <div class="cell-title"> Weight, [kg] </div>
            <div class="cell-title"> Category </div>
            <div class="cell-title"> Customer </div>
            <div class="cell-title"> PickUp from WH </div>
        </div>

        <div class="rowGroup" th:each="parcel : ${shipmentParcels}">
            <div class="cell" th:text="${parcel.getId()}"> 1 </div>
            <div class="cell" th:text="${parcel.getWeight()}"> 10 </div>
            <div class="cell" th:text="${parcel.getCategory().getName()}"> Electronics </div>
            <div class="cell" th:text="${parcel.getCustomer().getEmail()}"> Customer email </div>
            <div class="cell" th:text="${parcel.isPickUpFromWarehouse()}"> No </div>
            <div th:if="${shipment.isModifiable()}">
                <a class="update-button" href="#"
                   th:href="@{/shipments/remove-parcel/{parcelId}(parcelId=${parcel.getId()})}">Remove from Shipment</a>
            </div>
        </div>
    </div>

</section>
</body>
</html>