<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>

    <h1 class="table-title">ADD PARCEL TO SHIPMENT</h1>

    <h2 class="table-title"> Parcel to add </h2>

    <div class="table">
        <div class="table-header">
            <div class="cell"> ID </div>
            <div class="cell"> Weight, [kg] </div>
            <div class="cell"> Category </div>
            <div class="cell"> Customer </div>
            <div class="cell"> Delivery </div>
        </div>

        <div class="rowGroup">
            <div class="cell" th:text="${parcel.getId()}"> 1 </div>
            <div class="cell" th:text="${parcel.getWeight()}"> 10 </div>
            <div class="cell" th:text="${parcel.getCategory().getName()}"> Electronics </div>
            <div class="cell" th:text="${parcel.getCustomer().getEmail()}"> Customer email </div>
            <div class="cell" th:text="${parcel.isPickUpFromWarehouse()}"> No </div>
        </div>

    </div>

    <h2 class="table-title"> Avaiable shipments </h2>

    <div class="table">

        <div class="table-header">
            <div class="cell"> Shipment ID</div>
            <div class="cell"> Departure City</div>
            <div class="cell"> Arrival City</div>
            <div class="cell"> Status</div>
            <div class="cell"> Responsible</div>
        </div>

        <div class="rowGroup" th:each="shipment : ${shipments}">
            <div class="cell" th:text="${shipment.getId()}"> 0 </div>
            <div class="cell" th:text="${shipment.getDepartureWarehouse().getAddress().getCity().getName()}"> City
                name
            </div>
            <div class="cell" th:text="${shipment.getArrivalWarehouse().getAddress().getCity().getName()}"> City name
            </div>
            <div class="cell" th:text="${shipment.getStatus()}"> STATUS</div>
            <div class="cell" th:text="${shipment.getEmployee().getEmail()}"> Employee email</div>
            <div>
                <a class="add-button" href="#"
                   th:href="@{/shipments/{shipmentId}/add-parcel/{parcelId}(shipmentId=${shipment.getId()}, parcelId=${parcel.getId()})}">
                    Add to this shipment </a>
            </div>
        </div>

    </div>

</section>

</body>

</html>