<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>

    <h1 class="table-title">S H I P M E N T S</h1>

    <form method="post" th:action="@{/shipments/search}" th:object="${shipmentSearchDto}">
        <div class="search-container">
            <!--    <span>Search for customer:</span>-->
            <input type="text"
                   placeholder="Search for responsible: ex. ivan"
                   th:field="*{employeeKeyWord}">

            <select class="drop-down" th:field="*{destination}">
                <option class="orange-background" selected value="-1" > Destination </option>
                <option class="orange-background" th:value="arr" > Arrival </option>
                <option class="orange-background" th:value="dep" > Departure </option>
            </select>

            <select class="drop-down" th:field="*{warehouseId}">
                <option class="orange-background" selected value="-1" > Warehouse </option>
                <option class="orange-background" th:each="warehouse : ${warehouses}"
                        th:value="${warehouse.getId()}"
                        th:text="${warehouse.getAddress().getCity().getName()}"> warehouse
                </option>
            </select>

            <select class="drop-down" th:field="*{statusId}">
                <option class="orange-background" selected value="-1" > Status </option>
                <option class="orange-background" th:value="0" > Preparing </option>
                <option class="orange-background" th:value="1" > On the way </option>
                <option class="orange-background" th:value="2" > Completed </option>
            </select>

            <button type="submit">Search</button>

            <div class="sort-menu">
                <select style="text-align: center" th:field="*{sort}">
                    <option value="id asc">Order by</option>
                    <option value="departureWarehouse.address.city.name asc">Departure warehouse asc</option>
                    <option value="departureWarehouse.address.city.name desc">Departure warehouse desc</option>
                    <option value="arrivalWarehouse.address.city.name asc">Arrival warehouse asc</option>
                    <option value="arrivalWarehouse.address.city.name desc">Arrival warehouse desc</option>
                    <option value="status asc">Status asc</option>
                    <option value="status desc">Status desc</option>
                    <option value="employee.email asc">Email asc</option>
                    <option value="employee.email desc">Email desc</option>
                    <option value="arrivalDate asc">Arrival date asc</option>
                    <option value="arrivalDate desc">Arrival date desc</option>
                    <option value="departureDate asc">Departure date asc</option>
                    <option value="departureDate desc">Departure date desc</option>
                </select>
            </div>
        </div>
    </form>

    <div class="table">

        <div class="table-header">
            <div class="cell-title"> ID </div>
            <div class="cell-title"> Departure City </div>
            <div class="cell-title"> Arrival City </div>
            <div class="cell-title"> Status </div>
            <div class="cell-title"> Responsible </div>
            <div class="cell-title"> Departure date </div>
            <div class="cell-title"> Arrival date </div>
        </div>

        <div class="rowGroup" th:each="shipment : ${shipments}">
            <div class="cell" th:text="${shipment.getId()}"> 0 </div>
            <div class="cell" th:text="${shipment.getDepartureWarehouse().getAddress().getCity().getName()}"> City
                name
            </div>
            <div class="cell" th:text="${shipment.getArrivalWarehouse().getAddress().getCity().getName()}"> City name
            </div>
            <div class="cell" th:text="${shipment.getStatus()}"> STATUS </div>
            <div class="cell" th:text="${shipment.getEmployee().getEmail()}"> Employee email </div>
            <div class="cell" th:text="${shipment.getDepartureDate()}"> date </div>
            <div class="cell" th:text="${shipment.getArrivalDate()}"> date </div>
            <div>
                <a class="add-button" href="#" th:href="@{/shipments/{id}(id=${shipment.getId()})}"> INFO </a>

                <a class="update-button" href="#" th:unless="${shipment.isCompleted()}"
                   th:href="@{/shipments/{id}/update(id=${shipment.getId()})}"> Update </a>
                <a class="disabled-button" href="#" th:if="${shipment.isCompleted()}"
                   th:href="@{/shipments/{id}/update(id=${shipment.getId()})}"> Update </a>

                <a class="remove-button" href="#" th:if="${shipment.isModifiable()}"
                   th:href="@{/shipments/{id}/delete(id=${shipment.getId()})}"> Delete </a>
                <a class="disabled-button" href="#" th:unless="${shipment.isModifiable()}"
                   th:href="@{/shipments/{id}/delete(id=${shipment.getId()})}"> Delete </a>
            </div>
        </div>

    </div>
</section>

</body>

</html>