<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <h1 class="table-title">W A R E H O U S E S</h1>
    <form method="post" th:action="@{/warehouses/search}" th:object="${searchTermDto}">
        <div class="search-container">
            <!--    <span>Search for customer:</span>-->
            <input type="text"
                   placeholder="Search for warehouse: Bulgaria Sofia bul Tsarigradsko shose"
                   th:field="*{searchTerm}">
            <button type="submit">Search</button>
        </div>
        <div class="sort-menu">
            <select style="text-align: center" th:field="*{sort}">
                <option value="id asc">Order by</option>
                <option value="address asc">Address A-Z</option>
                <option value="address desc">Address Z-A</option>
                <option value="address.city.name asc">City A-Z</option>
                <option value="address.city.name desc">City Z-A</option>
                <option value="address.city.country.name asc">Country A-Z</option>
                <option value="address.city.country.name desc">Country Z-A</option>
            </select>
        </div>
    </form>

    <div class="table">
        <div class="table-header">
            <div class="cell-title"> Address</div>
            <div class="cell-title"> City</div>
            <div class="cell-title"> Country</div>
        </div>
        <div class="rowGroup" th:each="warehouse : ${warehouses}">
            <div class="cell">
                <a href="#" th:href="@{/warehouses/{id}(id=${warehouse.getId()})}"
                   th:text="${warehouse.getAddress().getStreet()}"></a>
            </div>
            <div class="cell" th:text="${warehouse.getAddress().getCity().getName()}">edi si koi grad</div>
            <div class="cell" th:text="${warehouse.getAddress().getCity().getCountry().getName()}">edi si koi grad</div>
            <div>
                <a class="update-button" href="#"
                   th:if="${isAuthenticated && session.userRole.name().equals('ADMIN')}"
                   th:href="@{/warehouses/{id}/update(id=${warehouse.getId()})}">Update</a>
                <a class="remove-button" href="#"
                   th:if="${isAuthenticated && session.userRole.name().equals('ADMIN')}"
                   th:href="@{__${#httpServletRequest.requestURI}__/{id}/delete(id=${warehouse.getId()})}">Delete</a>
            </div>
        </div>
    </div>

</section>

</body>
</html>
