<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <div class="table-title">
        <h2>U P D A T E </h2>
        <h1>W A R E H O U S E</h1>
    </div>
    <div>
        <form th:replace="warehouse-form.html :: warehouse-form"></form>
    </div>
</section>

</body>
</html>