<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<section class="header">
    <nav th:replace="index.html :: nav-bar"></nav>
    <div class="table-title">
        <h1>W A R E H O U S E</h1>
        <h2>I N F O </h2>
    </div>
    <div class="table">
        <div class="table-header">
            <div class="cell-title"> Address</div>
            <div class="cell-title"> City</div>
            <div class="cell-title"> Country</div>
        </div>
        <div class="rowGroup">
            <div class="cell" th:text="${warehouse.getAddress().getStreet()}">асдас</div>
            <div class="cell" th:text="${warehouse.getAddress().getCity().getName()}">edi si koi grad</div>
            <div class="cell" th:text="${warehouse.getAddress().getCity().getCountry().getName()}">edi si koi grad</div>
        </div>
    </div>
</section>

</body>
</html>