<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIT</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<form th:fragment="warehouse-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${warehouse}" method="post">

    <div class="create-box">
        <label> Address[id] </label>
        <input type="number" th:field="*{addressId}"/>
        <label class="orange" th:errors="*{addressId}">Wrong address id</label>
        <br>
        <br>
        <input class="hero-button" type="submit" value="Save"/>
    </div>
</form>

</body>
</html>
