* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    color: #fac667;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-button:hover {
    border: 1px solid orange;
    background: darkorange;
    transition: 0.7s;
}

/*------- offers --------*/
.offers {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.offers-col {
    flex-basis: 31%;
    background: #f5f0e9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.offers-col:hover {
    box-shadow: 0 0 20px 0 rgb(185, 175, 146);
}

/*------- info ---------*/
.info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.info-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.info-col img {
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer h2{
    color: #ffbb00;
    font-weight: bold;
    background-color: rgba(35, 35, 35, 0.51);
}

.layer:hover {
    background: rgba(210, 171, 41, 0.7);
}

/*-------- Table --------*/
.table {
    padding-top: 50px;
    width: 90%;
    display: table;
    text-align: center;
    margin-left: 5%;
    zoom: 80%;
}

.table-header {
    background: rgba(210, 171, 41, 0.7);
}

.rowGroup {
    display: table-row;
    border: 2px solid #f5d18d;

}

.rowGroup:hover {
    background: rgba(210, 171, 41, 0.7);
}

.cell {
    display: table-cell;
    color: white;
    padding: 10px;
    border: 2px solid #f5d18d;
    background-color: rgba(1, 1, 1, 0.3);
}
.cell-title{
    display: table-cell;
    color: white;
    padding: 10px;
    border: 2px solid #f5d18d;
    background-color: rgba(1, 1, 1, 0.3);
    text-decoration: none;
}

.cell a {
    color: white;
    text-decoration: none;
}

.cell:hover {
    background: rgba(210, 171, 41, 0.7);
}

.table-header {
    display: table-header-group;
    font-weight: bold;
    color: white;
}

.error {
    display: flex;
}

.error .error-image {
    padding-left: 50px;
    width: 500px;
    height: 500px;
}

.error .error-text {
    background-color: rgba(255, 175, 0, 0.2);
    padding-right: 4%;
    border: solid #ffbb00 5px;
    padding-top: 10px;
    color: white;
    padding-left: 5%;
    font-size: 25px;
    margin-top: 150px;
    margin-bottom: 230px;
    margin-left: 5%;
}

.error h2 {
    color: #ffbb00;
}

.table-title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #fac667;
}

.table button {
    align-content: flex-end;
}

.remove-button {
    background-color: #f60000;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin: 2px;
}

.update-button {
    background-color: #b27d06;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin: 2px;
}

.add-button {
    background-color: #258525;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin: 2px;
}

.disabled-button {
    background-color: #727272;
    border: none;
    color: #232323;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin: 2px;
}

.create-box {
    zoom: 85%;
    width: 500px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
}

.create-box input {
    background: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.orange {
    color: orange;
    background: rgba(255, 175, 0, 0.2);
}

.orange-text {
    color: #fac667;
    font-weight: bold;
}

.red {
    color: red;
}

.create-box select {
    color: white;
    width: 50%;
    height: 35px;
    /*background: rgba(255, 175, 0, 0.5);*/
    align-self: center;
    font-size: 20px;
    background-color: rgba(255, 175, 0, 0.5);
}

.drop-down {
    color: white;
    background-color: rgba(255, 175, 0, 0.5);
}

.orange-background {
    background: #966102;
}

.logged_user h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 0;
}

.logged_user a {
    margin-top: 1px;
    color: orange;
    text-decoration: none;
    font-size: 20px;
}

.logged_user h4 {
    text-align: center;
    color: white;
    font-size: 12px;
}

.search-container {
    color: #ffbb00;
    font-size: 16px;
    text-align: center;
}

.search-container input {
    width: 40%;
    background-color: rgb(255, 230, 191);
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.search-container-small {
    font-size: 8px;
    width: 4% !important;
}

.search-container button {
    color: white;
    width: 5%;
    margin-left: 15px;
    background: rgba(194, 137, 0, 0.93);
    text-decoration: none;
}

.contact {
    width: 30%;
    text-align: left;
}

.message {
    height: 150px;
}

.contact-box {
    margin-top: 50px;
    zoom: 85%;
    width: 500px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
}

.contact-box input {
    color: white;
    font-size: 17px;
    text-align: center;
    width: 80%;
    background-color: rgba(154, 128, 79, 0.34);
}

.contact-box button {
    margin-top: 30px;
}

.sort-menu {
    text-align: left;
    margin-left: 5%;
    margin-bottom: -20px;
}
.sort-menu select {
    font-weight: bold;
    color: orange;
    /*background-color: #f3ba54;*/
    background-color: transparent;
}
.sort-menu select option{
    font-weight: bold;
}